.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  padding: 30px;
  width: 700px;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-body .submit-button:hover {
  background-color: #e2e6ea;
}

.modal-body .submit-button {
  background-color: #f8f9fa;
  color: #343a40;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  justify-content: center;
}


.modal-close-button:hover {
  color: #BDBEC2;
}

.modal-body {
  margin-bottom: 20px;

}

.modal-body p {
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Inter', sans-serif;
  color: #18191F;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 64px;
}

.modal-body form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body label {
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-body input,
.modal-body select {
  padding: 10px;
  margin-bottom: 1px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.modal-body input:focus,
.modal-body select:focus {
  outline: none;
  border-color: #666;
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  border: none;
  background-color: transparent;
  color: #BDBEC2;
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}

label {
  display: none;
}

.form-control:invalid {
  border-color: rgba(255, 0, 0, 0.351);
}

.form-control:invalid ~ .campo-requerido {
  display: block;
  color: rgba(255, 0, 0, 0.351);
  font-size: 0.8em;
  font-family: 'Inter', sans-serif;
  margin-top: 0.25rem;
}

.placeholder-gray::placeholder {
  color: #ccc;
}

.form-control {
  width: 100%;
}

/* Estilo para todos los placeholders */
::-webkit-input-placeholder {
  color: #ccc;
}
:-moz-placeholder {
  color: #ccc;
}
::-moz-placeholder {
  color: #ccc;
}
:-ms-input-placeholder {
  color: #ccc;
}

/* Estilo para los campos de entrada de texto */
input[type="text"],
select {
  width: 100%;
  margin-bottom: 1px;
}

/* Estilo para el texto "Campo requerido" */
small.camporequerido {
  display: block;
  font-size: 12px;
  color: #777;
  font-family: 'Inter', sans-serif;
  margin-top: 5px;
}

form div{
  margin-bottom: 32px;
  width: 660px;
}

.btn-custom {
  background-color: rgba(0, 0, 0, 0.529);
  width: 208px;
  height: 42px;
  color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}