.header {
    background-color: white;
    border-bottom: 1px solid #E5E9F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 72px;
  }
  
  .logo {
    align-items: center;
    height: 72px;
    margin-right: 20px;
  }
  
  .logo img {
    width: 188px;
    height: 72px;
    object-fit: contain;
    padding-left: 72px;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 165px;
  }
  
  .nav a {
    text-decoration: none;
    margin-left: 20px;
    color: #18191F;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
  }