.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-family: in;
}

.title {
    font-size: 48px;
    align-items: center;
    font-weight: 430;
    font-family: 'Inter', sans-serif;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    line-height: 10px;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: lighter;
    font-family: 'Inter', sans-serif;
}

.steps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
    align-items: center;
}

.step {
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 255px;
    height: 234px;
}

.step-number {
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 207px;
    font-size: 72px;
    font-weight: bold;
    line-height: 1; /* establece la altura de línea en 1, ajustándola automáticamente al tamaño del contenido */
    color: #f4f5f7;
    margin-bottom: 10px;
}

.step-description {
    font-size: 16px;
}

.button {
    padding: 10px 20px;
    background-color: #8c30f5;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
